.primary {
    background: linear-gradient(#8B5CF6, #3B82F6);
}

.secondary {
    background-color: #8B5CF6;
}

.primary-text {
    color: #3B82F6;
}

.secondary-text {
    color: #8B5CF6;
}

.bordering {
    border-top: 0.1rem solid #3B82F6;
    border-left: 0.1rem solid #8B5CF6;
    border-bottom: 0.1rem solid #3B82F6;
    border-right: 0.1rem solid #8B5CF6;
    box-shadow: 2px 2px 2px 10px rgba(255, 255, 255, 0.02);
    transition: all 1s ease-in-out;
    animation: borderMoves linear infinite;
}

@keyframes borderMoves {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}